<!------ Navigation Bar ------>
    <div class="Naigation-bar">
        <div class="page-icon">
            <a href="">chiremba</a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="">Medical Form</a></li>
                <li><a href="">Counselling</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Log Out</a></li>
            </ul>
        </div>

    </div>
    <!------ Navigation Bar ------>