<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <!------------ font quickSand ---------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!------------ font quickSand ---------------->
    <title>Document</title>
</head>
<body>
   
    <!------------ Main container -------------->
    <div class="student-information-container">
        <div class="student-details-container">
            <h2>Successfully Submited</h2>
                <hr>
            <form action="/intro" method="get" class="submit-outro">
               
                <div class="outro-logo">
                    <img src="/images/au-logo.png" alt="Au clinic">
                 </div>
                
                    <button class="send-another-form-btn">Send another form</button>
            </form>
            
        </div>
    </div>

</body>
</html>