* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'quicksand'; 
}

/*--------- Nav style ------------*/
.Naigation-bar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Naigation-bar > .page-icon > a {
    padding: 18px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
}

.Naigation-bar > .sign-up-or-login {
    display: flex;
    text-align: center;
}

.Naigation-bar > .sign-up-or-login > a {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    margin-right: 35px;
}
/*--------- Nav style ------------*/

/*--------- Background image style ------------*/
.student-information-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(3,9,30,0.5), rgba(3,9,30,0.5)), url(images/Auclinic.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
/*--------- Background image style ------------*/

.student-details-container {
    width: 1000px;
    height: auto;
    margin: 6% auto;
    background-color: #fff;
    border: 1px solid gainsboro;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 3px;
    position: relative;
}
.student-details-container > h2 {
    margin-bottom: 6px;
}

/*--------- form style ------------*/
.student-details-container > form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*--------- left side style ------------*/
.user-details-left {
    width: 50%;
    margin: 10px;
}
.user-details-left > label {
    text-align: left;
}
.user-details-left > .user-first > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.user-first {
    padding: 10px;
    border-radius: 3px;
}
.user-second {
    padding: 10px;
    border-radius: 3px;
}
.user-third {
    padding: 10px;
    border-radius: 3px;
}

.user-details-left > .user-first:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-left > .user-second:hover {
    background-color: gainsboro;
}
.user-details-left > .user-third:hover {
    background-color: gainsboro;
}


.user-details-left > .user-second > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.user-details-left > .user-third > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
/*--------- left side style ------------*/

/*--------- right side style ------------*/
.user-details-right {
    width: 50%;
    margin: 10px;
}
.user-details-right > label {
    text-align: left;
}
.user-details-right > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.user-details-right > .user-third > .field-data-radio {
    margin-top: 12px;
    padding: 4px;
}


.user-details-right > .user-one > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-right > .user-second > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-right > .user-second-right > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.user-one {
    padding: 10px;
    border-radius: 3px;
}
.user-second {
    padding: 10px;
    border-radius: 3px;
}
.user-third-right {
    padding: 10px;
    border-radius: 3px;
}


.user-details-right > .user-one:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-right > .user-second:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-right > .user-third:hover {
    background-color: gainsboro;
    outline: none;
}


/*--------- code for the main page 2 button ------------*/
.btn-holder {
    display: flex;
    flex-direction: row;
    margin-left: 550px;
}
.btn-next-3 {
    padding: 12px;
    border-radius: 5px;
    color: #000;
    font-weight:bold;
    margin-top: 20px;
    margin-left: 120px;
    cursor: pointer;
    text-decoration: none;
}
.btn-next-3:hover{
    border: 1px solid green;
}
.btn-previous-2 {
    padding: 12px;
    border-radius: 5px;
    color: #000;
    font-weight:bold;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}
.btn-previous-2:hover{
    border: 1px solid red;
}
/*--------- code for the main page 2 button ------------*/


/*--------- right side style ------------*/
/*--------- form style ------------*/