* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'quicksand'; 
}

/*--------- Nav style ------------*/
.Naigation-bar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Naigation-bar > .page-icon > a {
    padding: 18px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
}
.nav-links {
    padding: 16px;
}
.nav-links > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-links > ul > li {
    list-style-type: none;
}
.nav-links > ul > li > a {
    color: #fff;
    padding: 8px;
    text-decoration: none;
}

/*--------- Nav style ------------*/
/*--------- Background image style ------------*/
.student-information-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(3,9,30,0.5), rgba(3,9,30,0.5)), url(/images/Auclinic.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.student-details-container {
    width: 1000px;
    height: auto;
    margin: 10% auto;
    background-color: #fff;
    border: 1px solid gainsboro;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 3px;
    position: relative;
}
.student-details-container > h2 {
    margin-bottom: 6px;
}


/*--------- code for the intro page ------------*/
.cautions-signing {
    margin-top: 20px;
}
h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.btn-holder {
    display: flex;
    flex-direction: row;
    margin-left: 550px;
}
.btn {
    width:  120px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight:bold;
    background-color: rgb(8, 150, 8);
    margin-top: 20px;
    margin-left: 120px;
    cursor: pointer;

}
.btn-previous {
    width:  120px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight:bold;
    background-color: red;
    margin-top: 20px;
   
    cursor: pointer;
}


/*--------- form style ------------*/
.student-details-container > form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*--------- left side style ------------*/
.user-details-left {
    width: 50%;
    margin: 10px;
}
.user-details-left > label {
    text-align: left;
}
.user-details-left > .user-first > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-first {
    padding: 10px;
    border-radius: 3px;
}
.user-second {
    padding: 10px;
    border-radius: 3px;
}
.user-third {
    padding: 10px;
    border-radius: 3px;
}
.user-details-left > .user-first:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-left > .user-second:hover {
    background-color: gainsboro;
}
.user-details-left > .user-third:hover {
    background-color: gainsboro;
}
.user-details-left > .user-second > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-left > .user-third > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
/*--------- left side style ------------*/

/*--------- right side style ------------*/
.user-details-right{
    width: 50%;
    margin: 10px;
}
.user-details-right > label {
    text-align: left;
}
.user-details-right > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-right > .user-third > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-right > .user-one > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-right > .user-second > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-one {
    padding: 10px;
    border-radius: 3px;
}
.user-second {
    padding: 10px;
    border-radius: 3px;
}
.user-third {
    padding: 10px;
    border-radius: 3px;
}
.user-details-right > .user-one:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-right > .user-second:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-right > .user-third:hover {
    background-color: gainsboro;
    outline: none;
}
.btn-holder {
    display: flex;
    flex-direction: row;
    margin-left: 550px;
}


/*--------- code for the chiremba ------------*/
.user-details-right-chiremba {
    width: 50%;
    margin: 10px;
    position: relative;
}
.user-details-right-chiremba > .user-one-chiremba:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-right-chiremba > .user-second-chiremba:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-right-chiremba > .user-third-chiremba:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-left-chiremba {
    width: 50%;
    margin: 10px;
}
.user-details-left-chiremba > .user-first-chiremba:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-left-chiremba > .user-third-chiremba:hover {
    background-color: gainsboro;
    outline: none;
}

.field-data-chiremba {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-second-chiremba {
    padding: 10px;
    border-radius: 3px;
}
.user-first-chiremba {
    padding: 10px;
    border-radius: 3px;
}
.user-one-chiremba {
    padding: 10px;
    border-radius: 3px;
}
.user-third-chiremba {
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 45px;
}
.user-third-chiremba > label {
    text-align: left;
    margin-top: 10px;
}
.user-third-chiremba > .field-data-chiremba-radio {
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
}
#male {
    margin-left: 34px;
}


/*--------- code for the Chiremba button ------------*/
.btn-next-chiremba {
    width: 70px;
    padding: 12px;
    color: #000;
    border-radius: 5px;
    background-color: #0000;
    border: none;
    outline: none;
    font-weight:bold;
    margin-left: 820px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    left: 30px;
    bottom: 10px;
}
.btn-next-chiremba:hover{
    color: #fff;
    background-color: green;
}
.btn-previous-chiremba {
    width: 75px;
    padding: 12px;
    color: #000;
    border-radius: 5px;
    background-color: #0000;
    border: none;
    outline: none;
    font-weight:bold;
    margin-left: 820px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    left: -94px;
    bottom: 10px;
}
.btn-previous-chiremba:hover{
    color: #fff;
    background-color: red;
}
/*--------- code for the Chiremba ------------*/

/* ------- Responsive style for the main app-page-1 -------- */
@media (max-width: 750px) {
    .student-information-container {
        width: 100%;
        background-image: none;
        background-attachment: fixed;
        background-color: gainsboro;
    }
    .student-details-container {
        width: auto;
        display: block;
    }
    .student-details-container > form {
        display: block;
    }
    .btn-holder {
        display: block;
        flex-direction: none;
        margin-left: 0px;
        margin-top: 20px;
    }
    .btn-next-chiremba {
        margin-left: 210px;
    }
    .btn-previous-chiremba {
        margin-left: 240px;
    }
}
/* ------- Responsive style for the main app-page-1 -------- */


/*--------- submit outro form style ------------*/
.submit-outro {
    width:  560px;
    margin: 8% 0 auto;
    padding: 10px;
    background-color: none;
    display: flex;
    
}
.outro-logo {
    object-fit: cover;
}
.outro-logo > img {
    width: 300px;
    height: 300px;
    border-radius: 4px;
}
.submit-outro > .send-another-form-btn {
    width: 300px;
    height: 40px;
    padding: 8px;
    color: #000;
    border-radius: 5px;
    background-color: #0000;
    border: none;
    outline: none;
    font-weight:bold;
    margin-left: 50px;
    margin-top: 130px;
    cursor: pointer;
    text-decoration: none;
    
}
.send-another-form-btn:hover {
    color: #fff;
    background-color: green;
}


/* ------- Responsive style for the submit outro page -------- */
@media (max-width: 750px) {
    .submit-outro {
        display: block;
    }
    .outro-logo > img {
        width: 100px;
        height: 100px;
    }
}
/* ------- Responsive style for the submit outro page - */
/*--------- submit outro form style ------------*/


/* ------- style for the intro page -------- */
.user-details-right-intro {
    width: 50%;
    margin: 10px;
    position: relative;
}
.user-details-right-intro > .user-one-intro:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-left-intro {
    width: 50%;
    margin: 10px;
}
.user-details-left-intro > .user-first-intro:hover {
    background-color: gainsboro;
    outline: none;
}
.field-data-intro {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-one-intro {
    padding: 10px;
    border-radius: 3px;
}
.user-first-intro {
    padding: 10px;
    border-radius: 3px;
}


/*--------- intro page button ------------*/
.below-btn {
    margin-bottom: 50px;
}
.btn-intro {
    width: 70px;
    padding: 12px;
    color: #000;
    border-radius: 5px;
    background-color: #0000;
    border: none;
    outline: none;
    font-weight:bold;
    margin-left: 820px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    left: -440px;
    bottom: -68px;
}
.btn-intro:hover{
    color: #fff;
    background-color: green;
}
/*--------- intro page button ------------*/
/* ------- style for the intro page -------- */


/* ------- Responsive style for the intro page -------- */
@media (max-width: 750px) {
    .Naigation-bar {
        display: none;
    }
    .student-information-container {
        width: 100%;
        align-items: center;
    }
    .student-details-container {
        width: 100%;
    }
    .student-details-container > h3 {
        font-size: 11px;
    }
    .student-details-container > h2, .student-details-container > hr {
       display: none;
    }
    .student-details-container  > form {
        width: 100%;
        display: block;
        position: relative;
    }
    .cautions-signing > p {
        display: none;
    }
    .btn-intro {
        position: absolute;
        left: -670px;
        margin-top: 30px;
    }
    .field-data-intro {
        margin-left: 110px;
    }
    .intro-label > {
       padding: 10px;
    }
}
/* ------- Responsive style for the intro page -------- */


/* -------------------- CODE FOR THE LOGIN IN ------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: quicksand; 
}

/* ------- main container -------- */
.main-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(3,9,30,0.5),rgba(3,9,30,0.5)), url(/images/au-flag.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* ------- main container -------- */

/* ------- form styl e-------- */
.main-container > h1 {
    text-align: center;
    margin-top: 100px;
    color: #fff;
}
.form-image {
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.form-image > img {
    width: 60px;
    height: 60px;
}
.form-container > form {
    width: 370px;
    margin: 10% auto 0;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
    margin-top: 20px;
}
.form-container > form > .input-fied {
    margin: 20px;
    margin-top: 10px;
}
.input-fied > h4 {
    margin-top: 40px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.input-fied > .fields {
    width:  320px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    border-color: gainsboro;
    border: 1px solid gainsboro;
    outline: none;
}
.bt-sign-in {
    width:  320px;
    padding: 12px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight:bold;
    background-color: rgb(8, 150, 8);
}
.input-fied > h5 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 15px;
    color: rgb(61, 61, 231);
    cursor: pointer;
}
.terms-conditions {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.terms-conditions > p > a {
    color: aqua;
    text-decoration: none;
    cursor: none;
}
.terms-conditions > p {
    color: #fff;
}
.error_message {
    margin-top: 6px;
    font-size: 16px;
    margin-left: 12px;
    color: red;
    text-align: left;
}
/* ------- form style -------- */


/* ------- Responsive style for the SIN-IN -------- */
@media (max-width: 750px) {
    .main-container {
        width: 100%;
        height: 100vh;
        background-image: none;
        background-attachment: scroll;
        background-color: gainsboro;
    }
    .main-container > h1 {
        display: none;
    }
    .terms-conditions > p {
        color: black;
        font-size: small;
    }
    .terms-conditions > p > a {
        color: blue;
    }
}
/* ------- Responsive style for the SIN-IN -------- */
/* -------------------- CODE FOR THE SIGN IN ------------------------------- */


/* ------------------ CODE FOR THE CHIREMBAAU ------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'quicksand'; 
}

/*--------- Nav style ------------*/
/* .Naigation-bar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Naigation-bar > .page-icon > a {
    padding: 18px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
}

.Naigation-bar > .sign-up-or-login {
    display: flex;
    text-align: center;
}

.Naigation-bar > .sign-up-or-login > a {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    margin-right: 35px;
} */
/*--------- Nav style ------------*/

/*--------- Background image style ------------*/
.student-information-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(3,9,30,0.5), rgba(3,9,30,0.5)), url(images/Auclinic.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
/*--------- Background image style ------------*/

.student-details-container {
    width: 1000px;
    height: auto;
    margin: 6% auto;
    background-color: #fff;
    border: 1px solid gainsboro;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 3px;
    position: relative;
}
.student-details-container > h2 {
    margin-bottom: 6px;
}

/*--------- form style ------------*/
.student-details-container > form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*--------- left side style ------------*/
.user-details-left-chirembaAU {
    width: 50%;
    margin: 10px;
}
.user-details-left-chirembaAU > label {
    text-align: left;
}
.user-details-left-chirembaAU > .user-first-chirembaAU > .field-data-chirembaAU {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-left-chirembaAU > .user-second-chirembaAU > .field-data-chirembaAU {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-left-chirembaAU > .user-third-chirembaAU > .field-data-chirembaAU {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-left-chirembaAU > .user-first-chirembaAU:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-left-chirembaAU > .user-second-chirembaAU:hover {
    background-color: gainsboro;
}
.user-details-left-chirembaAU > .user-third-chirembaAU:hover {
    background-color: gainsboro;
}
.user-first-chirembaAU {
    padding: 10px;
    border-radius: 3px;
}
.user-second-chirembaAU {
    padding: 10px;
    border-radius: 3px;
}
.user-third-chirembaAU {
    padding: 10px;
    border-radius: 3px;
}
.user-details-left-chirembaAU > .user-second-chirembaAU > .field-data {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-left > .user-third-chirembaAU > .field-data-chirembaAU {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
/*--------- left side style ------------*/

/*--------- right side style ------------*/
.user-details-right-chirembaAU {
    width: 50%;
    margin: 10px;
    position: relative;
}
.user-details-right-chirembaAU > label {
    text-align: left;
}
.user-details-right-chirembaAU > .field-data-chirembaAU {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-right-chirembaAU > .user-one-chirembaAU > .field-data-chirembaAU {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-details-right-chirembaAU > .user-two-chirembaAU > .field-data-chirembaAU {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.user-one-chirembaAU {
    padding: 10px;
    border-radius: 3px;
}
.user-two-chirembaAU {
    padding: 10px;
    border-radius: 3px;
}
.user-details-right-chirembaAU > .user-one-chirembaAU:hover {
    background-color: gainsboro;
    outline: none;
}
.user-details-right-chirembaAU > .user-two-chirembaAU:hover {
    background-color: gainsboro;
    outline: none;
}
/*--------- right side style ------------*/


/*--------- code for the chirembaAU button ------------*/
.btn-next-chirembaAU {
    width: 70px;
    padding: 12px;
    color: #000;
    border-radius: 5px;
    background-color: #0000;
    border: none;
    outline: none;
    font-weight:bold;
    margin-left: 820px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    left: -440px;
    bottom: -68px;
}
.btn-next-chirembaAU:hover{
    color: #fff;
    background-color: green;
}
.btn-previous-chirembaAU {
    width: 75px;
    padding: 12px;
    color: #000;
    border-radius: 5px;
    background-color: #0000;
    border: none;
    outline: none;
    font-weight:bold;
    margin-left: 820px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    left: -620px;
    bottom: -68px;
}
.btn-previous-chirembaAU:hover{
    color: #fff;
    background-color: red;
}
/*--------- code for the chirembaAU button ------------*/
/* ------------------ CODE FOR THE CHIREMBAAU ------------------------------- */


/* ------- Responsive style for the CHIREMBAAU page -------- */
@media (max-width: 750px) {
    .student-information-container {
        width: 100%;
        background-image: none;
        background-attachment: fixed;
        background-color: gainsboro;
    }
    .student-details-container {
        width: auto;
        display: block;
    }
    .student-details-container > form {
        display: block;
    }
    .user-details-right-chirembaAU {
        position: relative;
    }
    .user-details-right-chirembaAU > .btn-next-chirembaAU {
        position: relative;
        left: -650px;
        top: 21px;
    }
    .btn-previous-chirembaAU {
        position: relative;
        left: -800px;
    }
}
/* ------- Responsive style for the main app-page-1 -------- */


/* --------------- CODE FOR THE Doctors Admin ------------------------------- */
/*--------- Nav style for Doctor ------------*/
.admin-body-doctor {
    background-color: gainsboro;
}
.doctors-nav-bar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.doctors-nav-bar > .admin-icon > a {
    padding: 18px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
}
.doctors-nav-bar > .delete-and-search-bar {
    display: flex;
    text-align: center;
}
.doctors-nav-bar > .delete-and-search-bar > a {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    margin-right: 35px;
}

form {
    position: relative;
}
.delete-and-search-bar > form > .admin-delete-btn {
    padding: 10px;
    width: 100px;
    color: #fff;
    background-color: red;
    outline: none;
    border: none;
    border-radius: 1px;
    position: absolute;
    left: -350px;
    cursor: pointer;
}
.delete-and-search-bar > form > .admin-search {
    width: 150px;
    padding: 10px;
    position: absolute;
    left: -200px;
    border-radius: 1px;
    border:  none;
    outline: none;
}
.delete-and-search-bar > form > .admin-search-btn {
    padding: 10px;
    width: 100px;
    color: #fff;
    background-color: green;
    outline: none;
    border: none;
    margin-left: -50px;
    border-radius: 1px;
    cursor: pointer;

}
/*--------- Nav style for Doctor ------------*/

.admin-container-doctor {
    background-color: #00ADB5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.doctor-left-side {
    width: 20%;
    height: 500px;
    background-color: #00ADB5;
}
.doctor-left-side:hover{
    background-color: #0cc2bc;
}
.doctor-left-side  > ul > li {
    list-style-type: none;
    margin-top: 40px;
    margin-left: 45px;
}
.doctor-left-side  > ul > li > a {
    padding: 25px;
    text-decoration: none;
    color: #fff;
}
.doctor-left-side  > ul > li > a:hover{
    color: #000;
}
.left-side-User-Data {
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.left-side-User-Data > p {
    margin-top: 15px;
}
.doctor-right-side {
    width: 80%;
    background-color: white;
    padding: 30px;
}
.doctor-right-side-data {
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.right-side-User-Data-2 {
    padding: 10px;
    position: relative;
    left: 60px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.right-side-User-Data-3 {
    padding: 10px;
    position: relative;
    left: 120px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.right-side-User-Data-4 {
    padding: 10px;
    position: relative;
    left: 180px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.right-side-User-Data-2 > p {
    margin-top: 15px;
}


.doctor-user-data {
    position: absolute;
}
.doctor-user-data > .patient-diagnosis-doc {
    width: 100%;
    padding: 10px;
    position: relative;
    left: 310px;
    top: 140px;
    border: none;
    border-bottom: 1px solid #00ADB5;
    outline: none;
}
.patient-medication-doc {
    width: 100%;
    padding: 10px;
    position: relative;
    left: 310px;
    top: 170px;
    border: none;
    border-bottom: 1px solid #00ADB5;
    outline: none;
}
.taken-time {
    position: relative;
    left: 310px;
    top: 210px;
}
.times-taken {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    text-align: center;
}
.save-data-doc-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    color: #fff;
   background-color: rgb(8, 150, 8);
   outline: none;
   border: none;
   border-radius: 4px;
   position: relative;
   left: 310px;
   top: 270px;
   cursor: pointer;
}
.days-of-the-week {
   position: relative;
   left: 310px;
   top: 230px;
}
.frequency {
    position: relative;
   left: 310px;
   top: 250px;
}
.dayoftheweek-1 {
    margin-left: 8px;
}
.dayoftheweek-2 {
    margin-left: 8px;
}
.daysoftheweek {
    margin-left: 8px;
}
.daysoftheweek-1 {
    margin-left: 8px;
}
.daysoftheweek-2 {
    margin-left: 8px;
}
.daysoftheweek-3 {
    margin-left: 8px;
}
.daysoftheweek-4 {
    margin-left: 8px;
}
.daysoftheweek-5 {
    margin-left: 8px;
}
.daysoftheweek-6 {
    margin-left: 8px;
}
.daysoftheweek-7 {
    margin-left: 8px;
}
.howfrequent {
    margin-left: 8px;
}
.howfrequent-1 {
    margin-left: 8px;
}
.howfrequent-2 {
    margin-left: 8px;
}

/* --------------- Temperature color ------------------------------- */
.normalTemp {
    color: green;
}
.aboveTemp {
    color: red;
}
.belowTemp {
    color: black;
}


.normalPressure {
    color: green;
}
.elevetedPressure {
    color: rgb(95, 8, 194);
}
.highPressure {
    color: red;
}
.higherPressure {
    color: rgb(199, 6, 6);
}
.hyperPressure {
    color: rgb(114, 3, 3);
}
/* --------------- CODE FOR THE Doctors Page ------------------------------- */


/* ---------- Responsiveness for Doctors Page -------------- */
@media (max-width: 750px) {
    .admin-container-doctor {
        display: block;
        background-color: gainsboro;
        margin-top: -30px;
    }
    .admin-body-doctor {
        background-color: gainsboro;
    }
    .doctors-nav-bar {
        background-color: gainsboro;
        display: block;
    }
    .doctor-right-side-data {
        display: none;
    }
    .doctor-user-data {
        margin-left: -300px;
        margin-top: -475px;
    }
    .doctor-left-side {
        background-color: gainsboro;
    }
    .doctor-left-side > ul > li a {
        color: #000;
    }
}
/* ---------- Responsiveness for Doctors Page -------------- */


/* --------------- CODE FOR THE Reception Page ---------------------- */
.admin-body-reception {
    background-color: gainsboro;
}
.reception-nav-bar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.reception-nav-bar > .admin-icon > a {
    padding: 18px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
}
.reception-nav-bar > .delete-and-search-bar {
    display: flex;
    text-align: center;
}
.reception-nav-bar > .delete-and-search-bar > a {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    margin-right: 35px;
}
form {
    position: relative;
}
.delete-and-search-bar > form > .admin-delete-btn {
    padding: 10px;
    width: 100px;
    color: #fff;
    background-color: red;
    outline: none;
    border: none;
    border-radius: 1px;
    position: absolute;
    left: -350px;
    cursor: pointer;
}
.delete-and-search-bar > form > .admin-search {
    width: 150px;
    padding: 10px;
    position: absolute;
    left: -200px;
    border-radius: 1px;
    border:  none;
    outline: none;
}
.delete-and-search-bar > form > .admin-search-btn {
    padding: 10px;
    width: 100px;
    color: #fff;
    background-color: green;
    outline: none;
    border: none;
    margin-left: -50px;
    border-radius: 1px;
    cursor: pointer;

}


.reception-container {
    background-color: #00ADB5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.reception-left-side {
    width: 20%;
    height: 500px;
    background-color: #00ADB5;
}
.reception-left-side:hover{
    background-color: #0cc2bc;
}
.reception-left-side  > ul > li {
    list-style-type: none;
    margin-top: 40px;
    margin-left: 45px;
}
.reception-left-side  > ul > li > a {
    padding: 25px;
    text-decoration: none;
    color: #fff;
}
.reception-left-side  > ul > li > a:hover{
    color: #000;
}
.left-side-User-Data {
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.left-side-User-Data > p {
    margin-top: 15px;
}
.reception-right-side {
    width: 80%;
    background-color: white;
    padding: 30px;
}
.reception-right-side-data {
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.right-side-User-Data-2 {
    padding: 10px;
    position: relative;
    left: 60px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.right-side-User-Data-3 {
    padding: 10px;
    position: relative;
    left: 120px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.right-side-User-Data-4 {
    padding: 10px;
    position: relative;
    left: 180px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.right-side-User-Data-2 > p {
    margin-top: 15px;
}


.reception-user-data {
    position: absolute;
    top: 150px;
    left: 300px;
    padding: 8px;
}
.reception-user-data > .reception-input-field {
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.save-data-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    color: #fff;
   background-color: rgb(8, 150, 8);
   outline: none;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}


/* --------------- User Image ------------------------------- */
.student-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    right: 450px;
    
}
.student-img > img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border: 5px dotted #000;
    cursor: pointer;
}

body > p {
    padding: 10px;
}
/* --------------- User Image ------------------------------- */
/* --------------- CODE FOR THE Reception Page ---------------------- */


/* ---------- Responsiveness for reception page -------------- */
@media (max-width: 750px) {
    .reception-nav-bar {
        display: none;
    }
    .reception-container {
        display: block;
        background-color: gainsboro;
    }
    .student-img > img {
        display: none;
    }
    .reception-right-side {
        display: none;
    }
    .reception-left-side {
        background-color: gainsboro;
    }
    .reception-left-side ul > li > a {
        color: #000;
    }
    .reception-user-data {
        margin-top: 90px;
        margin-left: -270px;
    }
    .admin-body-reception > p {
        margin-top: 100px;
        background-color: gainsboro;
    }
}
/* ---------- Responsiveness for reception page -------------- */


/* ----------- CODE FOR THE COUNSELLING PAGE ------------------------------- */
.Counsellig-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Counsellig-left-details {
    width: 20%;
    padding: 20px;
    height: 568px;
    background-color: #00ADB5;
}
.Counsellig-left-details > ul > li {
    list-style-type: none;
    margin-top: 40px;
    margin-left: 45px;
    
}
.Counsellig-left-details > ul > li > a {
    text-decoration: none;
    color: #000;
}
.Counsellig-right-details {
    width: 80%;
    padding: 20px;
    display: block;
    margin-top: -35px;
}

.row-1 {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.row-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row-1 > .row-1-details > img {
    width: 220px;
    height: 195px;
    border-radius: 4px;
}
.row-2 {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.row-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row-2 > .row-2-details > img {
    width: 220px;
    height: 195px;
    border-radius: 4px;
}
/* ----------- CODE FOR THE COUNSELLING PAGE ------------------------------- */

/* -------- Responsiveness for the counselling page -------- */
@media (max-width: 750px) {
    .Naigation-bar {
        display: block;
        align-content: center;
    }
    .Naigation-bar > .page-icon {
        text-align: center;
    }
    .Naigation-bar > .counselling-field {
        margin-left: 180px;
    }
    .Counsellig-main-content {
        display: block;
    }
    .Counsellig-left-details {
        background-color: #fff;
    }
    hr {
        display: none;
    }
    .Counsellig-left-details {
        text-align: center;
        margin-left: 50px;
    }
    .Counsellig-right-details {
        margin-top: -210px;
    }
    .row-1 {
        display: block;
    }
    .row-1 > .row-1-details {
        margin-top: 35px;
    }
    .row-2 {
        display: block;
    }
    .row-2 > .row-2-details {
        margin-top: 35px;
    }
}
/* -------- Responsiveness for the counselling page -------- */


/* -----------  CODE FOR THE DISPENSARY --*/
.dispensary {
    width: 350px;
    margin: 8% auto 0;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    border-radius: 2px;
}
.disp-name {
    margin-bottom: 10px;
}
.disp-diagnosis {
    margin-bottom: 10px;
}
.disp-meds {
    margin-bottom: 10px;
}
.disp-times-per {
    margin-bottom: 10px;
}
.save-dispensary-data {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    color: #fff;
    background-color: rgb(8, 150, 8);
    outline: none;
    border:  none;
    cursor: pointer;
}
.dispensary-label {
    display: flex;
    margin-top: 10px;
}
/* -----------  CODE FOR THE DISPENSARY --*/

/* -------- Responsiveness for the Dispensary page -------- */
@media (max-width: 750px) {
    .doctors-nav-bar {
        display: none;
    }
}
/* -------- Responsiveness for the Dispensary page -------- */